<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <i class="bi bi-bank fs-2"></i>
        <span class="ms-2 fs-4">IBAN Nicaragua</span>
      </a>
    </header>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Convertir a IBAN</h2>
          <p>Complete el detalle de la cuenta bancaria corta </p>

          <form class="row g-3">
            <div class="col-md-6">
              <label for="bank-code" class="form-label">Entidad Financiera</label>
              <select required class="form-select" id="bank-code" aria-label="Entidad Financiera">
                <option value="">Seleccione el banco</option>
                <option *ngFor="let bank of bankList" [value] ="bank.bankCode">
                  {{ bank.shortName + " - " + bank.bankName}}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="bank-account" class="form-label">N&uacute;mero de cuenta</label>
              <input type="text" required pattern="[0-9]" class="form-control" id="bank-account">              
              <div class="invalid-feedback">
                Ingrese un n&uacute;mero de cuenta valido.
              </div>
            </div>        
            <div class="d-grid gap-2">
              <button class="btn btn-outline-light" type="submit">Calcular IBAN</button>
            </div>
          
          </form>
          
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>N&uacute;mero de cuenta IBAN</h2>
          <div class="row g-3">
            <div class="d-grid gap-2">
              <input type="text" class="form-control" value="NI42NICM00000000000000103103" aria-label="Numero IBANC" readonly>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-success" (click)="copyText()">Copiar</button>
            </div>
          </div>
          <div class="row">
            <div class="row g-3">
              <div class="col-md-2">
                <div class="text-secondary text-center fs-5">NI</div>
                <div class="text-secondary text-center fs-6">C&oacute;digo<br>pa&iacute;s</div>
              </div>
              <div class="col-md-2">
                <div class="text-secondary text-center fs-5">42</div>
                <div class="text-secondary text-center fs-6">D&iacute;gito<br>verificador</div>
              </div>
              <div class="col-md-2">
                <div class="text-secondary text-center fs-5">NICM</div>
                <div class="text-secondary text-center fs-6">C&oacute;digo<br>banco</div>
              </div>
              <div class="col-md-6">
                <div class="text-secondary text-center fs-5">00000000000000103103</div>
                <div class="text-secondary text-center fs-6">N&uacute;mero de cuenta</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">&iquest;Qu&eacute; es el n&uacute;mero IBAN?</h1>
        <p class="col-md-8 fs-4">El IBAN (International Bank Account Number) o Código Internacional de Cuenta Bancaria es un código alfanumérico que identifica de forma única las cuentas bancarias en Nicaragua. El IBAN se compone de 28 caracteres y se utiliza para realizar transferencias internacionales y locales.</p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
      </div>
    </div>


    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2021
    </footer>
  </div>
</main>